<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de manuales</title>
    <link rel="stylesheet" href="manual-list.component.css">
</head>
<body>
  <div class="manual-list-container">
    <!-- Logo en la parte superior izquierda -->
    <img src="/logo.png" alt="Logo DSD" class="logo" (click)="goHome()">
    
    <!-- Lista de manuales -->
    <div class="manual-list">
      <button class="manual-button" (click)="goToManualDetail()">Manual de Descriptivos y perfiles de puesto</button>
      <button class="manual-button">Manual de políticas y procedimientos</button>
      <button class="manual-button">Manual de políticas</button>
      <button class="manual-button"(click)="goToStar()">Volver</button>
      <!--<button class="manual-button">Manual de Procesos</button>-->
    </div>
    
    <!-- Botones de Descargar y Selección de Manual -->
    <div class="manual-actions">
      <button class="action-button">Descargar</button>
      <select class="manual-select">
        <option value="" disabled selected>Seleccione Manual</option>
        <option value="1">Manual de Descriptivos y perfiles de puesto</option>
        <option value="2">Manual de políticas y procedimientos</option>
        <option value="3">Manual de políticas</option>
        <!-- Añade más opciones según sea necesario -->
      </select>
    </div>
  </div>      
</body>
</html>