.organigrama-container {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/*Logo de la parte superior*/
.logo {
    width: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo:hover{
    cursor: pointer; 
}
  
.navbar-container {
    width: 100%;
    overflow-x: auto; /* Habilitar el scroll horizontal */
    white-space: nowrap; /* Evitar que los botones se vayan a la siguiente línea */
    margin: 5px;
    padding: 10px;
}
  
.navbar-nav {
    display: inline-block;
}
  
.nav-item {
    display: inline-block; /* Mostrar los elementos en línea */
}

.nav-link-btn-btn-link{
    background-color: #EFB347;
    min-height: 60px;
}

.nav-link-btn-btn-link:hover{
    background-color: #DEA236;
    cursor: pointer;
}
    
  
.pdf-viewer iframe {
    border: none;
}
  