<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Organigrama</title>
  <link rel="stylesheet" href="organigrama.component.css">
</head>
<body>
  <div class="organigrama-container">
    <!-- Logo en la parte superior izquierda -->
    <div>
      <img src="/logo.png" alt="Logo DSD" class="logo" (click)="goHome()">
    </div>


    <div class="OrgChart" #diagramDiv style="width:95vw; height:80vh;"></div>
      
    <!-- Barra de navegación con los departamentos -->
    <!-- <div class="navbar-container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"> -->
            <!-- Botón General -->
            <!-- <li class="nav-item">
              <button class="nav-link-btn-btn-link" (click)="seeGeneralOrganizationChart()">
                  General
              </button>
            </li> -->

            <!-- Botones de los departamentos -->
            <!-- <li class="nav-item" *ngFor="let deparments of deparments">
              <button class="nav-link-btn-btn-link" (click)="SelectDepartment(deparments.departmentId)">
                {{ deparments.departmentName }}
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </div> -->
    
    <!-- Mensaje si no hay documento -->
    <!-- <div *ngIf="message" class="alert alert-warning mt-3">
      {{ message }}
    </div> -->

    <!-- Visor de PDF -->
    <!-- <div class="pdf-viewer mt-4" *ngIf="documentRoute">
      <iframe [src]="documentRoute" width="80%" height="500px"></iframe>
    </div> -->
  </div>
  <footer>
    <!--Boton de volver-->
    <a (click)="goBack()" class="back-link">← Volver</a>
  </footer>          
</body>
</html>