<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="manual-pyp.component.css">
</head>
<body>
    <div class="manual-detail-container">
        <!-- Logo en la parte superior izquierda -->
        <img src="/logo.png" alt="Logo DSD" class="logo" (click)="goHome()">
      
        <!-- Título del manual -->
        <h1>Manual de Perfiles y descripciones de puesto</h1>
      
        <!-- Índice del manual -->
        <h2>Indice</h2>
        <div class="indice">
          <h3 (click)="goToDepartment(1)">SAC</h3>
          <ul>
            <li (click)="goToProfile(1)">Auditor interno operativo de cedis</li>
            <li (click)="goToProfile(2)">Auxiliar de inventario</li>
            <li (click)="goToProfile(3)">Auxiliar de operaciones</li>
            <li (click)="goToProfile(4)">Compras</li>
            <li (click)="goToProfile(5)">Aux. Administrativo (Iniciativas)</li>
            <li (click)="goToProfile(6)">Aux. Administrativo Operaciones CEDIS</li>
            <li (click)="goToProfile(7)">Capacitador de administrativo de CEDIS</li>
            <li (click)="goToProfile(8)">Gestor De Cartera</li>
            <li (click)="goToProfile(9)">Aux. Administrativo (Cartera)</li>
            <li (click)="goToProfile(10)">Auditor Interno Operativo de CEDIS</li>
            <li (click)="goToProfile(11)">Coordinador Logística Kiosko</li>
            <li (click)="goToProfile(12)">Aux. Administrativo  (Logística Kiosko)</li>
          </ul>
      
          <!-- <h3 (click)="goToDepartment(2)">Departamento 2</h3>
          <ul>
            <li (click)="goToProfile(21)">Perfil 1</li>
            <li (click)="goToProfile(22)">Perfil 2</li>
          </ul> -->
        </div>
      
        <!-- Botones de Volver y Descargar -->
        <div class="manual-actions">
          <button (click)="goBack()" class="action-button">Volver</button>
          <button class="action-button">Descargar</button>
        </div>
    </div> 
</body>
</html>