<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="manual-pyp.component.css">
</head>
<body>
  <div class="manual-detail-container">
    <!-- Logo en la parte superior izquierda -->
    <img src="/logo.png" alt="Logo DSD" class="logo" (click)="goHome()">
  
    <!-- Título del manual -->
    <h1>Manual de Perfiles y descripciones de puesto</h1>
  
    <!-- Índice del manual -->
    <h2>Indice</h2>
    <div class="index">
      <ul>
        <li *ngFor="let department of department">
          <div (click)="toggleProfile(department.departmentId)">
            {{ department.departmentName }}
          </div>
    
          <ul *ngIf="departmentSelected === department.departmentId">
            <li *ngFor="let profile of profile" (click)="onProfileSelected(profile.profileId)" class="select">
              {{ profile.profileName }}
            </li>
          </ul>
    
          <div *ngIf="departmentSelected === department.departmentId && profile.length === 0">
            No hay puestos para este departamento.
          </div>
        </li>
      </ul>
    </div>
      
    <!-- Botones de Volver y Descargar -->
    <div class="manual-actions">
      <button (click)="goBack()" class="action-button">Volver</button>
      <button class="action-button">Descargar</button>
    </div>
  </div> 
</body>
</html>