<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departamento</title>
</head>
<link rel="stylesheet" href="pyp-department.component.css">
<body>
  <div *ngIf="document">
    <h3>Documento relacionado con el puesto</h3>
    <p class="center">
      <iframe [src]="documentRoute" width="1200" height="800"></iframe>
    </p>
  </div>
      
  <div class="action-buttons">
    <button class="btn">Descargar</button>
    <button class="btn" (click)="goBack()">Volver</button>
  </div>
</body>
</html>