<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <img src="/logo.png" alt="Logo DSD" class="logo">
            <h2>Bienvenido al manual de  Distribuciones A Detalle</h2>
            <p>Inicie sesión, por favor.</p>
            <form (ngSubmit)="onSubmit()">
                <label for="username">Usuario:</label>
                <input type="text" id="username" [(ngModel)]="username" name="username" required />
                
                <label for="password">Contraseña:</label>
                <input type="password" id="password" [(ngModel)]="password" name="password" required />
            
                <button type="submit">Iniciar sesión</button>
            </form>
            <!-- <a href="#" class="forgot-password">¿Olvidó su contraseña?</a> -->
        </div>
    </div>     
</body>
</html>
