<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>introducción</title>
    <link rel="stylesheet" href="intro.component.css">
</head>
<body>
     <!-- Logo en la parte superior izquierda -->
    <img src="../../assets/logo.png" alt="Logo DSD" class="logo">
    <div class="intro-container">
        <!-- Texto representativo (simulación del manual) -->
        <h2>mision:</h2>
        <div class="text-content">
            <h2>mision:</h2>
            <p>
            Lograr un crecimiento rentable y sustentable para el desarrollo economico y profesional de todo el grupo que conforma DSD
            </p>
            <h2>vision:</h2>
            <p>
            Queremos ser y ser reconocidos como una campañia en crecimiento, Estamos comprometidos a lograr un desarrollo consiente a largo un desarrollo consistente a largo plazo todo esto sustentando en buenas practicas comerciales y un servicio de calidad total para nuestros clientes
            </p>
        </div>
        <footer>
            <a (click)="goBack()" class="back-link">Volver</a>
        </footer>
    </div>    
</body>
</html>