<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Org List</title>
    <link rel="stylesheet" href="org-list.component.css">
</head>
<body>
    <div class="manual-list-container">
        <!-- Logo en la parte superior izquierda -->
        <img src="/logo.png" alt="Logo DSD" class="logo" (click)="goHome()">
        
        <!-- Lista de organigramas -->
        <div class="org-list">
            <button class="org-button" (click)="goToOrganizationChart()">Organigrama Desplegable</button>
            <button class="org-button" (click)="goToAuthorizedOrganizationChart()">Organigrama Autorizado</button>
            <button class="org-button" (click)="goToPrezi1()">Organigrama Prezi 1</button>
            <button class="org-button" (click)="goToPrezi2()">Organigrama Prezi 2</button>
            <button class="org-button" (click)="goToProfiles()">Matríz de puestos por departamento</button>
            <button class="org-button" (click)="goToStart()">Volver</button>
        </div>
    </div>      
</body>
</html>