<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organigrama Autorizado</title>
    <link rel="stylesheet" href="org-pptx.component.css">
</head>
<body>
    <div>
        <img src="/logo.png" alt="Logo DSD" class="logo" (click)="goHome()">
    </div>
    <div>
        <img src="/Authorized-Org.jpeg" alt="Organigrama Autorizado" class="Org-Auth">
    </div>
</body>
<footer>
    <!--Boton de volver-->
    <a (click)="goBack()" class="back-link">← Volver</a>
</footer>
</html>
